NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/football_platform
ASSET_BASE_URL=https://pub-ad9a25475486494b8665c0b11bd920ca.r2.dev
